@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --circle-one-color: #4f46e53a;
  --circle-two-color: #2563eb46;
  --circle-three-color: #0284c73a;
  --bg-color: #f7f2f2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --circle-one-color: #4f46e55f;
    --circle-two-color: #2563eb4d;
    --circle-three-color: #0284c73f;
    --bg-color: #1e293b;
  }
}

html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}
.c-scrollbar:hover {
  transform: scaleX(1.45);
}
.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}
[data-scroll-direction="horizontal"] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1);
}
[data-scroll-direction="horizontal"] .c-scrollbar:hover {
  transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}
.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}

body {
  background-color: var(--bg-color);
}

.blurry-gradient {
  display: block;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  /* z-index: 10; */
  background: radial-gradient(
      circle at 10% 50%,
      var(--circle-one-color),
      rgba(255, 255, 255, 0) 25%
    ),
    radial-gradient(
      circle at 85% 30%,
      var(--circle-two-color),
      rgba(255, 255, 255, 0) 25%
    ),
    radial-gradient(
      circle at 60% 90%,
      var(--circle-three-color),
      rgba(255, 255, 255, 0) 25%
    );
  /* background: radial-gradient(circle at 15% 50%, #09846685, rgba(255, 255, 255, 0) 25%), radial-gradient(circle at 85% 30%, #003543, rgba(255, 255, 255, 0) 25%); */
  /* @apply block h-screen overflow-hidden fixed top-0 left-0 w-full z-10 bg-gradient-to-r from-blue-500 to-indigo-500; */
}

.title {
  /* font-size: 10vw; */
  perspective: 600px;
  -webkit-perspective: 600px;
}

.title-line {
  display: block;
  opacity: 0;
  transform-origin: center top;
  transform-style: preserve-3d;
  transform: translateY(100%) rotateX(-80deg);
  transition: opacity 0.8s cubic-bezier(0.215, 0.61, 0.355, 1),
    transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  /* font-size: 0; */
}

.title.is-inview .title-line {
  transform: none;
  opacity: 1;
}
.title.is-inview .title-line:first-child {
  transition-delay: 0.4s;
}
.title.is-inview .title-line:nth-child(2) {
  transition-delay: 0.5s;
}
.title.is-inview .title-line:nth-child(3) {
  transition-delay: 0.6s;
}
.title.is-inview .title-line:nth-child(4) {
  transition-delay: 0.7s;
}
