// .indicator-position{
//     top: 50%;
//     right: 0%;
// }

.is-floating{
    top: 50%;
    right: 0%;
    position: sticky;
    animation: slide-indicator-right .3s ease;
    animation-fill-mode: forwards;
    transform: translateX(100%);
}

.is-hiding{
    top: 50%;
    right: 0%;
    position: sticky;
    animation: slide-indicator-left .3s ease;
    animation-fill-mode: forwards;
    transform: translateX(0%);
}


@keyframes slide-indicator-left{
    100%{
        transform: translateX(100%);
    }
  }


@keyframes slide-indicator-right{
    100%{
        transform: translateX(0);
    }
  }

.indicator:hover .indicator-link__wrapper{
    max-height: inherit;
    transform: translateX(-10%);
    opacity: 1;
  }
  
.indicator-link__wrapper {
    max-height: 0px;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s ease;
}

.indicator-link{    
    &:after{
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        position: absolute;
        background: #3865a8;
        transition: width 0.3s ease 0s, left 0.3s ease 0s, transform 0.5s ease;
        width: 0;
    }
    &:hover {
        transform: translateX(-40%);
    }
    &:hover:after{
        width: 100%; 
        left: 0; 
    }
}  


