.skill-card
   {
    border-radius: 0.5rem;
    padding: 2rem;
    cursor: pointer;
    height: 30rem;
    
    &:hover
       {
        -webkit-box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.31), 0 5px 15px 0 rgba(0, 0, 0, 0.28);
        box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.31),0 5px 15px 0 rgba(0, 0, 0, 0.28);
        
        .skill-card__header{
            height: 40px;        
            .skill-card__icon{
                transform: translateX(-50%) translateY(-50%) scale(3);
            }
        }
        
        .skill-card__body{
            height: 100%;
            
            .skill-card__knowledge{
                >li{
                    transform: translateX(0);
                    transition-timing-function: cubic-bezier(0, 1.5, 1, 1);
                    transition-duration: .5s;
                
                    @for $i from 1 through 10{
                        &:nth-child(#{$i}){
                            transition-delay: $i * .25s;
                        }
                    }
                }
            }
        }
    }
    .skill-card__header{
         //linear-gradient(to bottom, #21c8f6, #637bff);
        position: relative;
        height: 100%;
        margin: -20px -20px 20px -20px;
        transition: height .5s;
        overflow: hidden;
        
        .skill-card__icon{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            display: block;
            width: 128px;
            height: 128px;
            transition: transform .5s;
        }
    }         
    .skill-card__body{
        height: 7rem;
        transition: height .5s;
        overflow: hidden;
        
        .skill-card__knowledge{
            margin-top: 10px;
            color: #424242;
            
            >li{
                margin-top: 5px;
                transition-duration: 0;
                transition-delay: .5s;
                transform: translateX(-100%);
            }
       }
    }
}

