.transform{
    animation: come-in 1s ease;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    transform: translateY(100%);
}

@keyframes come-in{
    100%{
        transform: translateY(0);
    }
}