@import "./locomotive.css" layer(base);
@import "./theme.css" layer(base);
@import "./glitch.css" layer(base);
@import "./nav.css" layer(base);

@import "tailwindcss";

@plugin '@tailwindcss/aspect-ratio';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: Epilogue, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";

  --text-10xl: 10rem;
  --text-10xl--line-height: 1.2;

  --animate-floating: floating 3s ease-in-out infinite;
  --animate-floating-alt: floating-alt 2.3s ease-in-out infinite;
  --animate-floating-diagonal: floating-diagonal 3s ease-in-out infinite;
  --animate-heart-pulse: heart-pulse 1s infinite;
  --animate-gradient-x: gradient-x 5s ease infinite;
  --animate-gradient-y: gradient-y 5s ease infinite;
  --animate-gradient-xy: gradient-xy 5s ease infinite;
  --animate-circular-rotation: circular-rotation 5s linear infinite;
  --animate-slide-in-top: slide-in-top 0.5s ease-in-out forwards;
  --animate-fade-in: fade-in 1.5s ease-in-out forwards;

  @keyframes floating-diagonal {
    0%,
    100% {
      transform: translateY(-10px) translateX(10px);
    }
    50% {
      transform: translateY(5px) translateX(-5px);
    }
  }
  @keyframes floating {
    0%,
    100% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(10px);
    }
  }
  @keyframes floating-alt {
    0%,
    100% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(10px);
    }
  }
  @keyframes slide-in-top {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  @keyframes heart-pulse {
    10% {
      transform: scale(1.2);
    }
  }
  @keyframes circular-rotation {
    0% {
      transform: rotate(0deg) translate(-20px) rotate(0deg);
    }
    100% {
      transform: rotate(360deg) translate(-20px) rotate(-360deg);
    }
  }
  @keyframes gradient-y {
    0%,
    100% {
      background-size: 400% 400%;
      background-position: center top;
    }
    50% {
      background-size: 200% 200%;
      background-position: center center;
    }
  }
  @keyframes gradient-x {
    0%,
    100% {
      background-size: 200% 200%;
      background-position: left center;
    }
    50% {
      background-size: 200% 200%;
      background-position: right center;
    }
  }
  @keyframes gradient-xy {
    0%,
    100% {
      background-size: 400% 400%;
      background-position: left center;
    }
    50% {
      background-size: 200% 200%;
      background-position: right center;
    }
  }
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

::selection {
  background: var(--color-indigo-600);
  color: white;
}

body {
  background-color: var(--bg-color);
  transition: background-color 0.5s ease-in-out;
}

[x-cloak] {
  display: none !important;
}

.blurry-gradient {
  display: block;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  /* z-index: 10; */
  background: radial-gradient(
      circle at 20% -10%,
      var(--circle-one-color),
      rgba(255, 255, 255, 0) 45%
    ),
    radial-gradient(
      circle at 60% -10%,
      var(--circle-three-color),
      rgba(255, 255, 255, 0) 45%
    ),
    radial-gradient(
      circle at 30% 130%,
      var(--circle-two-color),
      rgba(255, 255, 255, 0) 50%
    ),
    radial-gradient(
      circle at 70% 130%,
      var(--circle-four-color),
      rgba(255, 255, 255, 0) 50%
    );
}

.title {
  perspective: 600px;
  -webkit-perspective: 600px;
}

.title-line {
  display: block;
  opacity: 0;
  transform-origin: center top;
  transform-style: preserve-3d;
  transform: translateY(100%) rotateX(-80deg);
  transition:
    opacity 0.8s cubic-bezier(0.215, 0.61, 0.355, 1),
    transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  /* font-size: 0; */
}

.title.is-inview .title-line {
  transform: none;
  opacity: 1;
}
.title.is-inview .title-line:first-child {
  transition-delay: 0.4s;
}
.title.is-inview .title-line:nth-child(2) {
  transition-delay: 0.5s;
}
.title.is-inview .title-line:nth-child(3) {
  transition-delay: 0.6s;
}
.title.is-inview .title-line:nth-child(4) {
  transition-delay: 0.7s;
}

.header-box {
  background-color: var(--indigo);
  background-image: radial-gradient(
      at 38% 90%,
      var(--indigo) 0,
      transparent 50%
    ),
    radial-gradient(at 2% 26%, var(--blue) 0, transparent 67%),
    radial-gradient(at 9% 49%, var(--cyan) 0, transparent 59%),
    radial-gradient(at 38% 42%, var(--indigo) 0, transparent 63%),
    radial-gradient(at 85% 59%, var(--pink) 0, transparent 83%);
}

.contact-mail {
  background: rgba(0, 0, 0, 0)
    linear-gradient(
      90deg,
      var(--emerald),
      var(--cyan),
      var(--blue),
      var(--indigo),
      var(--purple),
      var(--pink),
      var(--fuchsia),
      var(--rose)
    )
    repeat scroll 0% 0%/200% 200%;

  background-size: 200% auto;
  animation: movingGradient 5s linear infinite alternate;
}

.header-box {
  animation: fadeIn;
  opacity: 0;
  animation-duration: 1.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.social-link {
  position: relative;
}

.social-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 2;
  content: "";
  transition:
    width 0.5s ease 0s,
    left 0.5s ease 0s;
  background: var(--color-gray-800);
  @apply absolute left-1/2 block h-1 w-0 rounded-full sm:h-1.5 md:h-2;
}

.dark .social-link:after {
  background: var(--color-gray-200);
}

.social-link:hover:after {
  width: 100%;
  left: 0;
}

.mail-link {
  position: relative;
}

.mail-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 2;
  content: "";
  transition:
    width 0.5s ease 0s,
    left 0.5s ease 0s;
  @apply animate-gradient-xy bg-linear-to-r absolute left-0 block h-1.5 w-0 rounded-full from-fuchsia-500 via-pink-500 to-rose-400 sm:h-2 md:h-2.5;
}

.mail-link:hover:after {
  width: 100%;
  left: 0;
}

.header-desc {
  animation: fadeInBottom 1s forwards ease-in-out;
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(20%);
  }

  to {
    opacity: 1;
    transform: translate(0px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes movingGradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pop {
  0% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}
