.theme-light {
    --page-background-color: #f5f6f9;
    --card-background-color: #e9eef1;
    --button-background-color: #47cdff;
    --header-background-color: white;
    --skill-background-color: #f2f4f7;
    --contact-background-color: #F5F7FB;

    --text-default-color: #222;
    --text-accent-color: #47cdff;
    --text-accent-light-color: #8ae2fe;
    --text-muted-color: rgba(0, 0, 0, 0.7);
    --text-muted-light-color: rgba(255, 255, 255, 0.1);
    --text-muted-light-color: #e1e6e8;
    --text-error-color: red;
    --text-hover-color: #3182CE;
    --text-skill-color: #576488;
    --text-link-color: #3865a8;
    
}
