.theme-light {
    --page-background-color: #f5f6f9;
    --card-background-color: white;
    --button-background-color: #47cdff;
    --header-background-color: white;
    --skill-background-color: #f2f4f7;
    --contact-background-color: #F5F7FB;
    --web-card-background-color: #F5f6f9;
    --mobile-card-background-color: #f5f6fa;
    --other-card-background-color: #f5f6fc;
    --icon-background-color: #fff;
    --contact-line-color: #107af3;

    --text-default-color: #222;
    --text-accent-color: #47cdff;
    --text-accent-light-color: #8ae2fe;
    --text-muted-color: rgba(0, 0, 0, 0.7);
    --text-muted-light-color: rgba(255, 255, 255, 0.1);
    --text-muted-light-color: #e1e6e8;
    --text-error-color: red;
    --text-hover-color: rgb(27, 110, 187);
    --text-skill-color: #576488;
    --text-link-color: #0e4a72;
    --text-wave-color: #107af3;
    --text-mail-color: #2D3748; 
    --text-menu-color: white;
    --text-split-color:white;
}
