@tailwind base;

@tailwind components;

@import 'transition';
@import 'themes/dark';
@import 'themes/light';
@import 'components/skill-card';

html{
  font-family: 'Open Sans', sans-serif;
}

main {
    scroll-snap-type: y mandatory;
}


 
section{
    scroll-snap-align: start;
}

.card{
    border-radius: 0.25rem;
    //padding: 2rem;
    -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
      0 5px 15px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
      0 5px 15px 0 rgba(0, 0, 0, 0.08);
}

li {
    @apply text-skill text-lg font-bold tracking-wide
}



// .landing{
//   background: url('/img/wave.svg'); 
//   background-repeat: no-repeat;
//   background-position: 0% 100%;
//   background-size: 100% ;
//   margin: 0;
//   padding: 0;
// }

// .landing [background]{
//   transform-origin: bottom;
//   animation: animateWave 1000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
// }

.wave-container{
  margin: 0 -6rem;
}

.wave-container > svg {
  display: block;
  transform-origin: bottom;
  animation: animateWave 3000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

@keyframes animateWave {
  0% {
    transform: scale(1,0);
  }
  100% {
    transform: scale(1,1);
  }
}

.contact{
  background: url('/img/contact-bg.svg');
  background-repeat: no-repeat;
  background-position: 90% 0%;
  background-size: auto;
}

.skill-card-mobile__knowledge{
  >li{
    @apply text-base leading-normal
  }
}

.social-icon{
  transition: transform .2s;
}

.social-icon:hover{
  transform: translateY(-30%);
}


.profile-info{
  position: relative;
  animation: profile-info;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
}

@keyframes profile-info {
  0%   {left: -1000px;}
  100% {left: 0;}
}

.profile-image{
  position: relative;
  animation: profile-image;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
}

@keyframes profile-image {
  0%   {top: -1000px;}
  100% {top: 0;}
}

@keyframes content {
  0%   {left: -1000px;}
  100% {left: 0;}
}

[v-cloak] {
    display: none;
  }

@tailwind utilities;