@tailwind base;

@tailwind components;

@import 'transition';
@import 'themes/dark';
@import 'themes/light';
@import 'components/skill-card';

html{
  font-family: 'Open Sans', sans-serif;
}

main {
    scroll-snap-type: y mandatory;
}


 
section{
    scroll-snap-align: start;
}

.card{
    border-radius: 0.25rem;
    padding: 2rem;
    -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
      0 5px 15px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
      0 5px 15px 0 rgba(0, 0, 0, 0.08);
}

li {
    @apply text-skill text-lg font-bold tracking-wide
}

.landing-img{
  position: fixed;
  bottom: 50%;
  top: 50%;
  right: 10%;
  opacity: 0.6;  
}


[v-cloak] {
    display: none;
  }

@tailwind utilities;